<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vuejs-2.5.16.js"></script>
</head>
<body>
<div id="app">
    <form @submit.prevent action="#" method="get">
        <label>用户名</label>
        <input type="text" v-model="user.username">
        <label>密码</label>
        <input type="text" v-model="user.password">
        <input type="submit" @click="onClick()" value="登录">
    </form>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            user:{}
        },
        methods:{
            onClick:function () {
                alert(JSON.stringify(this.user));
            }
        }
    })
</script>
</body>
</html>